body {
    background-color: white;
}

h1.image-title {
    background-color: lightgray;
    text-align: center;
    padding-top: 10px;
}

nav.image-navbar {
    background-color: lightgray;
    padding-bottom: 10px;
}

nav.image-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.image-navbar ul li {
    display: inline-block;
    padding-left: 10px;
}

nav.image-navbar ul li.float-right {
    float: right;
    padding-right: 10px;
}

div.image-description-box {
    background-color: lightyellow;
    margin: 5px;
    padding: 5px;
    font-style: oblique;
}

p.image-description {
    font-style: oblique;
}

img.image-responsive {
    max-width: 100%;
    height: auto;
    text-align: center;
}

ul.thumbnail-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.album-item {
    margin: 5px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    min-height: 80px;
}

a.album-item-link {
    text-decoration: none;
}

img.album-item-thumbnail {
    float: left;
    display: block;
    height: 100%;
    margin-right: 5px;
}

img.album-item-fullsize-thumbnail {
    float: left;
    display: block;
    height: 75px;
    width: auto;
    margin-right: 5px;
}

p.album-item-description {
    font-style: oblique;
}
