.left-align-cell {
    display: flex;
    justify-content: flex-start;
}

.right-align-cell {
    display: flex;
    justify-content: flex-end;
}

.table-fixed { table-layout: fixed }

.transaction-table-col {
    max-width: 0;
}
.transaction-table-col-hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.transaction-table-col1 { width: 6em }
.transaction-table-col2 { width: 4em }
.transaction-table-col3 {  }

.hide-overflow { overflow-x: hidden; }

.fullsize-img-thumbnail {
    height: 75px;
}

.table-condensed {
    font-size: 11px;
}

.img-fluid-landscape {
    height: 100%;
    width: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (orientation: portrait) {
    .hide-on-portrait {
        display: none;
    }
}

@media (orientation: landscape) {
    .hide-on-landscape {
        display: none;
    }
}
